---
import APL_Moyennes from "../assets/APL_Professions_Moyennes.json";
import APL_Flat from "../assets/APL_Professions_Flat.json";

const { Code_Commune = "01001" } = Astro.props;
const departmentData = APL_Flat.find(e => e.Code_Commune === Code_Commune);
const Libelle_Commune = departmentData?.Libelle_Commune || "L'Abergement-Clémenciat";
---

<div 
id="carte-apl-container"
data-moyennes={JSON.stringify(APL_Moyennes)}
data-flat={JSON.stringify(APL_Flat)}
data-libelle-commune={Libelle_Commune}>
</div>

<script>
    import * as Plot from "@observablehq/plot";

    const container = document.querySelector('#carte-apl-container') as HTMLElement;

    function updatePlot() {
        if (!container) return;
        
        const APL_Moyennes = JSON.parse(container.dataset.moyennes!);
        const APL_Flat = JSON.parse(container.dataset.flat!);
        const Libelle_Commune = container.dataset.libelleCommune!;
        
        container.innerHTML = "";
        const plot = Plot.plot({
            width: 370,
            height: 470,
            title: `Indicateur d'accessibilité potentielle (APL) de différents professionels de santé à ${Libelle_Commune}`,
            subtitle: "Équivalent temps plein pour 100 000 habitants",
            color: {
                domain: ["Moyenne APL Nationale", `APL ${Libelle_Commune}`],
                range: ["#ddd", "#2596be"],
                legend: true
            },
            y: { label: "APL", grid: true },
            x: { label: "" },
            marks: [
                Plot.barY(APL_Moyennes, {
                x: "Profession",
                y: "APL_Moyenne",
                fill: "#ddd",
                title: (d: any) =>
                    `Moyenne nationale : ${parseInt(d.APL_Moyenne)}\n APL ${Libelle_Commune} :  ${
                    APL_Flat.filter((d: any) => d.Libelle_Commune === Libelle_Commune)[0]
                        .APL
                    }`,
                tip: true
                }),
                Plot.barY(
                APL_Flat.filter((d: any) => d.Libelle_Commune === Libelle_Commune),
                {
                    x: "Profession",
                    y: "APL",
                    fill: "#2596be",
                    insetLeft: 10,
                    insetRight: 10
                }
                )
            ]
        });
        
        container.append(plot);
    }
    updatePlot();
</script>